// 해더관련 css
.header {
  width: 1920px;
  height: 80px;
  background-color: #f66;
  display: flex;
  flex-direction: row;
  position: relative;


  &_title {
    display: flex;
    width: 310px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 42px;
    margin-right: 182px;
  }

  &_menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 28px;
    color: #fff;
    a {
      text-decoration: none;
      display: flex;
      width: 200px;
      height: 80px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
  .indicator {
    position: absolute;
    width: 80px;
    height: 10px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    bottom: 0;
    transition: 0.3s linear;
  }

  &_icon {
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: auto;
  }
}
