.challenge-list {
  .title {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 4.8px;
    color: #f66;
  }
}
